/* Add some padding on document's body to prevent the content
to go underneath the header  */
body *{
  margin: 0;
  padding: 0;
}
body{
    padding-top: 60px;
    padding-bottom: 40px;
}
header{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
header h1{
  text-align: center;
}
header{
    top: 0;
    z-index: 2;
}
.container{
  width: 65%;
  left: 5%;
  position: relative;
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}

.canvas-container{
  width: 100% !important;
  height: 275px !important;
  border: solid black 1px;
  margin-top: 20px;
}

.canvas-container canvas {
  width: 100% !important;
  height: 100% !important;
}

form {
  position: fixed;
  width: 20%;
  right: 0;
  bottom: 0;
}
form select {
  display: block;
  width: 80%;
  margin: 20px;
  }
  .button {
    border: solid black 1px;
    color: black;
    padding: 15px 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 12px;
    width: 97%;
  }
