/* Add some padding on document's body to prevent the content
to go underneath the header*/
body *{
  margin: 0;
  padding: 0;
}
body{
    padding-top: 60px;
    padding-bottom: 40px;
}
header{
    width: 100%;
    position: fixed;
    background: #333;
    padding: 10px 0;
    color: #fff;
}
header h1{
  text-align: center;
}
header{
    top: 0;
    z-index: 2;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.container.items{
  /*display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px;
  grid-template-rows: 30px 30px;
  grid-auto-flow: row;*/
}
.container.items div.user{
  float: left;
  position: relative;
  width: 40%;
  height: auto;
  border: solid black 1px;
  margin-top: 20px;
  padding:2%;
  padding-bottom: 0;
}

div.user:nth-child(even){
  margin-left: 9%;
}

.user span:nth-child(even) {
  display: inline-block;
  width: 70%;
  text-align: left;
  float: right;
}
.gmapDiv {
  width: 110%;
  height: 200px;
  margin-top: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  left:-5%;
}
@media (max-width : 595px) {
  .container.items div.user{
    width: 100%;
    margin-left: 0 !important;
  }
  .gmapDiv {
    width: 104%;
    left: -2%;
  }
}
